In [1]:
import pandas as pd 
import pickle
import datetime

# Atrial fibrillation (AF) patients on rivaroxaban

In [2]:
with open('/projects/ROCKET AF/1A/rivaroxaban dataextraction/data/first_mention_rivaroxaban.pickle', 'rb') as f:
    rivaroxaban = pickle.load(f)

In [3]:
len(rivaroxaban)

2585

In [4]:
df = pd.DataFrame(list(rivaroxaban.items()), columns=['client_idcode', 'first_mention_rivaroxaban']) # This code converts a dictionary (rivaroxaban) into a Pandas DataFrame with two columns named 'client_idcode' and 'first_mention_rivaroxaban'
df.shape

(2585, 2)

In [5]:
df.head()

  client_idcode first_mention_rivaroxaban
0       0372858                2015-03-02
1       M282816                2018-10-25
2       V282449                2018-08-02
3       V459668                2015-06-25
4       R081687                2015-04-27

In [6]:
ids = set(df['client_idcode'])
len(ids)

2585

# AF patients' age

In [22]:
docs = pd.read_csv('/projects/ROCKET AF/data/epr_docs.csv')

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
df = docs[['client_idcode', 'client_dob']]

In [24]:
df.head()

  client_idcode                    client_dob
0       V686479  1936-07-22T00:00:00.000+0100
1       V686479  1936-07-22T00:00:00.000+0100
2       V686479  1936-07-22T00:00:00.000+0100
3       V686479  1936-07-22T00:00:00.000+0100
4       V686479  1936-07-22T00:00:00.000+0100

In [25]:
df['first_rivaroxaban_prescription'] = df['client_idcode'].map(rivaroxaban)

/tmp/ipykernel_170751/1068269410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['first_rivaroxaban_prescription'] = df['client_idcode'].map(rivaroxaban)

In [26]:
df.head()

  client_idcode                    client_dob first_rivaroxaban_prescription
0       V686479  1936-07-22T00:00:00.000+0100                     2016-12-08
1       V686479  1936-07-22T00:00:00.000+0100                     2016-12-08
2       V686479  1936-07-22T00:00:00.000+0100                     2016-12-08
3       V686479  1936-07-22T00:00:00.000+0100                     2016-12-08
4       V686479  1936-07-22T00:00:00.000+0100                     2016-12-08

In [27]:
df['client_dob'] = pd.to_datetime(df['client_dob'], utc=True).dt.date

/tmp/ipykernel_170751/885944603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['client_dob'] = pd.to_datetime(df['client_dob'], utc=True).dt.date

In [28]:
df.head()

  client_idcode  client_dob first_rivaroxaban_prescription
0       V686479  1936-07-21                     2016-12-08
1       V686479  1936-07-21                     2016-12-08
2       V686479  1936-07-21                     2016-12-08
3       V686479  1936-07-21                     2016-12-08
4       V686479  1936-07-21                     2016-12-08

In [29]:
df['deltas'] = pd.to_datetime(df['first_rivaroxaban_prescription']) - pd.to_datetime(df['client_dob'])
df['age'] = [x.days / 365.2425 for x in df['deltas']]

/tmp/ipykernel_170751/3642452064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['deltas'] = pd.to_datetime(df['first_rivaroxaban_prescription']) - pd.to_datetime(df['client_dob'])
/tmp/ipykernel_170751/3642452064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = [x.days / 365.2425 for x in df['deltas']]

In [30]:
df.head()

,client_idcode,client_dob,first_rivaroxaban_prescription,deltas,age
0,V686479,1936-07-21,2016-12-08,29360 days,80.38495
1,V686479,1936-07-21,2016-12-08,29360 days,80.38495
2,V686479,1936-07-21,2016-12-08,29360 days,80.38495
3,V686479,1936-07-21,2016-12-08,29360 days,80.38495
4,V686479,1936-07-21,2016-12-08,29360 days,80.38495

In [31]:
df = df.dropna(subset=['age'])

In [32]:
df['client_idcode'].nunique()

2585

In [33]:
age = dict(zip(df['client_idcode'], df['age']))

In [34]:
age

{'V686479': 80.38494972518258,
 'A201000': 66.74469701636583,
 'V690072': 86.93949909991306,
 'V053017': 76.70246480078303,
 'R107352': 61.1319876520394,
 'D658496': 85.95385257739721,
 'P209690': 81.11323298904152,
 'V305414': 86.69308746928411,
 'R089177': 54.826587814944865,
 'M376392': 77.11041294482433,
 'V608237': 67.72486772486772,
 'V354424': 67.66463377071398,
 'R081687': 77.81405504562038,
 'M457141': 73.03914522543242,
 'V912020': 91.37490845123445,
 'R195635': 79.50334366893229,
 'D656531': 65.89047003018543,
 'A245584': 72.39026126477614,
 'M219472': 88.41249306967289,
 'M539565': 89.7923982011951,
 'V339396': 77.05017899067057,
 'M437870': 83.12285673217109,
 'V382237': 80.72718810105614,
 'P744081': 90.07166471590793,
 'D652011': 73.29103267007535,
 'R093460': 68.76253448051636,
 'F234992': 77.93726086093486,
 'P160864': 60.61999904173255,
 'F377254': 88.88341307487491,
 'A549934': 73.98372314284344,
 'V862699': 69.69068495588547,
 'M249755': 68.36280005749605,
 'M668762': 77.34039713341136,
 'F228894': 75.9002580477354,
 'V469573': 84.097551626659,
 'V128561': 90.05797518087299,
 'V512560': 73.60315406887204,
 'M311091': 84.49181023566534,
 'R203697': 76.7846020109927,
 'R072509': 47.11937959027222,
 'D514649': 89.06959075135013,
 'V350898': 91.58572729077257,
 'M471980': 67.77962586500749,
 'F514473': 76.72984387085293,
 'D257403': 59.300327864364085,
 'R113079': 78.85993552228999,
 'D013968': 86.97509189100393,
 'A800979': 84.63965721404273,
 'M789497': 92.33043799667344,
 'M356186': 71.33069125307159,
 'F629427': 74.61617966145779,
 'D160222': 87.94704887848484,
 'F227847': 91.52823124362581,
 'F523156': 77.46907876273983,
 'V187263': 78.26307179476649,
 'P496641': 56.61170318350137,
 'P455861': 91.76642915323382,
 'F111460': 91.47073519647905,
 'R027987': 64.65293606302662,
 'V478939': 66.81040678453355,
 'D708599': 77.42527225062801,
 'M807835': 85.18997652244741,
 'R129038': 59.450912749748454,
 'V353756': 63.2045832563297,
 'F328322': 66.24092212707995,
 'M343061': 55.984722478901006,
 'R128512': 87.5965967815903,
 'M720020': 69.24440611374635,
 'P704245': 72.02885753985366,
 'F231057': 76.05358084012677,
 'M264414': 62.37773534021917,
 'A882451': 76.88590457025127,
 'A847301': 91.08195240148669,
 'R210799': 56.57063457839654,
 'M426766': 57.75067249840859,
 'R028608': 72.6859552215309,
 'R151814': 78.10153528135417,
 'F455666': 84.11124116169394,
 'V219258': 78.54507621648631,
 'M270544': 65.35657816382266,
 'V273376': 50.057153808770884,
 'F223266': 71.10618287849853,
 'M252562': 80.74635345010506,
 'D162142': 85.39258164096456,
 'R240080': 75.05698268958295,
 'P599852': 58.94987576746956,
 'M244513': 65.28813048864795,
 'M482631': 86.10169955577459,
 'P784009': 79.69773506642846,
 'F237092': 65.32646118674579,
 'D914957': 78.70387482289163,
 'V395439': 63.71383395962956,
 'D713738': 48.400720069542835,
 'M355214': 49.40005612709364,
 'D653276': 74.23013477347241,
 'P179418': 42.65659116888095,
 'F242935': 91.35848100919252,
 'F122502': 84.0510072075402,
 'K120495': 83.2186834774157,
 'V163738': 64.51877861968418,
 'Q024913': 84.27003976809928,
 'F524432': 85.74850955187307,
 'M450390': 82.30696044408852,
 'V819599': 60.38453903913153,
 'A844120': 87.9552625995058,
 'M247408': 88.34130748749119,
 'V438994': 83.64032115649192,
 'V691626': 76.81471898806957,
 'D067847': 79.20764971217753,
 'R088168': 77.79488969657146,
 'P277535': 75.54980595084088,
 'R168451': 55.924488524747254,
 'D509982': 71.60995776778442,
 'M741592': 80.4753006564132,
 'P345200': 79.5225090179812,
 'R112743': 82.53694463267556,
 'M165040': 81.05573694189476,
 'F137437': 81.70188299554405,
 'A073259': 60.0587281052999,
 'A797260': 72.62024545336318,
 'V593545': 51.53562359254468,
 'M309708': 71.12261032054046,
 'M202501': 73.50185150961347,
 'F521370': 72.84749173494322,
 'R121638': 78.83803226623408,
 '0852060': 78.82981854521312,
 'M465340': 81.45547136491508,
 'A676877': 72.71333429160079,
 'F115389': 57.945063895904774,
 'V342423': 73.08295173754424,
 'M376254': 77.05565480468455,
 'V329665': 81.15703950115333,
 'M815798': 88.15512981101597,
 'D260390': 69.24714402075334,
 '0608954': 96.97119037351897,
 'P340127': 40.115813466395615,
 'P282121': 42.90300279950991,
 'V093146': 77.01732410658671,
 'R158037': 59.50840879689521,
 'P427163': 73.60315406887204,
 'F336713': 92.45911962600191,
 'P296572': 77.08577178176144,
 'Q039971': 55.13049549272059,
 'V838210': 61.06627788387167,
 'E006866': 62.566650923701374,
 'F324540': 60.43929717927131,
 'R206762': 82.75871510024162,
 'V480635': 74.27667919259122,
 'V596878': 79.63750111227472,
 'M731372': 85.89909443725743,
 'A235256': 70.59693217519867,
 'V413204': 79.30347645742212,
 'M640446': 59.434485307706524,
 'M492026': 44.13232304564775,
 'P746363': 72.29717242653854,
 'V269557': 37.86525390665106,
 'V470503': 75.38279362341459,
 'P557065': 51.56574056962155,
 'V358678': 71.07332799441467,
 'M800876': 71.71399823404998,
 'V237723': 73.72635988418654,
 'M668358': 78.04677714121439,
 'R084577': 82.45754532947288,
 'V008765': 87.17769700952107,
 'M297856': 87.38304003504521,
 'A222878': 82.68752951805992,
 'P788823': 70.26016961333909,
 'F137767': 64.05059652148914,
 'A930248': 84.16326139482672,
 'P329166': 94.71515499976043,
 'P631365': 84.47538279362341,
 'P488044': 66.44626515260408,
 'M574377': 75.05972059658994,
 'V500465': 86.46584118770406,
 'C058411': 76.90506991930019,
 'D878902': 87.84848422623325,
 'R085444': 74.00836430590635,
 'V209282': 72.96795964325072,
 'M210936': 88.146916089995,
 'M252798': 83.84018836800207,
 'M280168': 78.07689411829126,
 'P743493': 39.74072020643819,
 'D711532': 59.464602284783396,
 'D257109': 78.82434273119914,
 'R144765': 64.73507327323627,
 'M209270': 76.97077968746791,
 'M601109': 63.921914892160686,
 'M623481': 59.9409981039994,
 'M497851': 76.27261340068584,
 'V932382': 81.96745997522194,
 'D653792': 62.38594906124013,
 'V277619': 64.18749187183857,
 'D218902': 47.84492494712417,
 'D097729': 59.44269902872749,
 'P868361': 73.6880291860887,
 'M282816': 76.11107688727353,
 'P487914': 72.12742219210524,
 'P258676': 77.77298644051555,
 'V326294': 87.04080165917165,
 'M415336': 68.79538936460023,
 '0844286': 79.0214720357023,
 'V164503': 68.33815889443315,
 'F134576': 86.04694141563482,
 'M752599': 71.10618287849853,
 'M610135': 72.2068214953079,
 'D715953': 66.06569607863268,
 'M223180': 66.49554747872989,
 'V168079': 85.86897746018056,
 'P804643': 64.52973024771214,
 'V124247': 74.50118756716428,
 'V200844': 72.98712499229964,
 'P657552': 56.863590628144316,
 'V692148': 69.78924960813706,
 'F014940': 86.92580956487812,
 'M218506': 79.04337529175821,
 'V918939': 62.9910265097846,
 'V756815': 78.48758016933955,
 'R202185': 67.4894077222667,
 'V868549': 53.93403013066661,
 'V962444': 69.27452309082322,
 'V812868': 60.012183686181096,
 'P579702': 45.66007515554734,
 'P530848': 65.89320793719241,
 'P528293': 85.48840838620916,
 'F023367': 57.359151796409236,
 'M171758': 74.05217081801817,
 'M061500': 71.67566753595214,
 'V319164': 78.04951504822138,
 'D452304': 83.2159455704087,
 'R114140': 76.22606898156704,
 '0630728': 80.08925576842782,
 'M517538': 82.48492439954276,
 'F387251': 83.16392533727591,
 'V985743': 57.794479010520405,
 'V509800': 61.02794718577383,
 'P401197': 48.54582914091323,
 'P572395': 78.62995133370295,
 'M427445': 89.58157936165698,
 'A717623': 78.05772876924235,
 'V693132': 73.16508894775389,
 'R146980': 75.76883851139996,
 'K085885': 71.76054265316878,
 'A880815': 68.67218354928575,
 'A928092': 85.12974256829366,
 'P771577': 70.66537985037338,
 'F139601': 95.02180058454314,
 '0631022': 77.63609109016612,
 'P155671': 69.6852091418715,
 'R101180': 86.54524049090672,
 'D505708': 58.01624947808648,
 'M585530': 79.333593434499,
 'F126457': 70.60240798921265,
 'R066489': 71.01583194726791,
 'R085750': 66.60232585200244,
 'P690774': 62.57212673771535,
 'D006871': 61.93145649808004,
 'D892043': 72.1137326570703,
 'P632361': 89.54324866355914,
 'P493054': 71.79339753725264,
 'P389781': 59.650779961258614,
 'M207227': 75.64837060309246,
 'M031065': 75.88109269868649,
 'D446710': 69.36487402205384,
 '0644687': 75.39100734443555,
 'M676216': 95.16143384189955,
 'D450159': 83.51985324818442,
 'V476708': 62.50367906254064,
 'M250369': 70.00554426168915,
 'P204233': 64.83637583249485,
 'V445526': 63.31136162960225,
 'V799281': 49.35351170797484,
 'M654547': 94.45505383409652,
 'F228956': 63.71109605262257,
 'F484186': 52.79779872276638,
 'R104802': 81.24191461836999,
 'V692425': 50.06262962278486,
 'R077400': 36.449755984038,
 'M381398': 77.22266713211086,
 'V042483': 82.7614530072486,
 'V616386': 44.970122589786236,
 'A923755': 66.45447887362505,
 'K134486': 62.58855417975728,
 'R195035': 73.98919895685744,
 'M508257': 68.72694168942552,
 '0840454': 69.05001471625016,
 'M177604': 83.2871311525904,
 'D091555': 72.41216452083205,
 'M732100': 76.30273037776271,
 'F220199': 75.73324572030911,
 'M375138': 92.32496218265946,
 'M420936': 42.336256049063294,
 'R087658': 72.2780070774896,
 'V545311': 59.50567088988822,
 'R102461': 85.80052978500585,
 'M066473': 77.21992922510387,
 'D056744': 76.95709015243297,
 'V284485': 69.97268937760529,
 'M523007': 85.61435210853064,
 'A514455': 75.95227828086819,
 'P501698': 71.09523125047058,
 'P487918': 75.48135827566617,
 'F513395': 58.42967343614174,
 'M526443': 85.29675489571997,
 'D359303': 39.620252298130694,
 'D392546': 78.40544295912989,
 'D257968': 75.58266083492474,
 'P293274': 74.20001779639554,
 'R147908': 71.79613544425963,
 'M491275': 75.79074176745587,
 'V178154': 61.87943626494726,
 'V696633': 78.87088715031794,
 'P788777': 58.02720110611443,
 'P321722': 70.57229101213578,
 'V636859': 79.82094088174296,
 '0551609': 92.90813637514802,
 'V604866': 84.31932209422507,
 'K153621': 66.4928095717229,
 '0295690': 74.5915384983949,
 'P752551': 42.0953202324483,
 'M252984': 76.39308130899335,
 'P367594': 62.24083998986974,
 'V497397': 82.93941696270286,
 'D068873': 82.194706256802,
 'A936044': 84.53835465478414,
 'P775624': 82.48766230654975,
 'M487224': 76.09738735223858,
 'R095299': 55.51654038070597,
 'R143822': 45.96945864733704,
 'M246076': 90.41937890579547,
 'M265281': 85.02296419502112,
 'F285206': 78.42734621518579,
 'V656458': 57.92316063984887,
 'D158722': 29.019076367071193,
 'P800330': 79.04063738475122,
 'M856776': 74.9967487354292,
 'V894153': 75.68396339418331,
 'M372726': 76.3793917739584,
 'R079253': 63.7987090768462,
 'V279531': 83.8100713909252,
 'R015179': 68.89669192385881,
 'D898865': 51.76013196711774,
 'V787088': 80.85313182337762,
 'V260201': 79.47870250586939,
 'D873020': 58.254447387694476,
 'R135272': 52.73482686160565,
 'V345717': 69.74818100303223,
 'V627515': 69.84674565528381,
 'K165463': 65.23337234850818,
 'Q023832': 78.6409029617309,
 'P694573': 61.76170626364675,
 'M805397': 82.88192091555611,
 'P665808': 82.59170277281532,
 'R197255': 73.42245220641081,
 'M842520': 77.00637247855876,
 'V528543': 58.7500085559594,
 'V371442': 85.92373560032033,
 'V583595': 56.54599341533365,
 'A698217': 56.222920388509,
 'V356586': 70.993928691212,
 'M314641': 89.42825656926563,
 'P359382': 83.32272394368125,
 '0806799': 95.20250244700439,
 'D089783': 62.45439673641485,
 'P239658': 56.535041787305694,
 'V275110': 90.46866123192126,
 'P526379': 57.40295830852105,
 'D282426': 85.26116210462911,
 'R210964': 37.895370883727935,
 'A951297': 58.72262948588951,
 'P752448': 72.3053861475595,
 'M427714': 87.28447538279362,
 'A750631': 80.4506594933503,
 'P507004': 74.86259129208676,
 'V900828': 72.51620498709761,
 'P618411': 79.04885110577219,
 'M840083': 87.33375770891942,
 'P692246': 76.33832316885356,
 'P250983': 76.31915781980464,
 'V064560': 76.38212968096539,
 'R159775': 60.71582578697714,
 'M290119': 83.13928417421302,
 'R095784': 81.88806067201928,
 'R073344': 90.04428564583803,
 'M475172': 61.49065346995489,
 'M022132': 74.0685982600601,
 'V804347': 85.29675489571997,
 'P457353': 84.11671697570792,
 '0682179': 75.81538293051877,
 'M941279': 70.16434286809448,
 'M650626': 77.12684038686626,
 'R098092': 76.42319828607022,
 'M566423': 55.56034689281778,
 'R150232': 76.4505773561401,
 'M440114': 84.42336256049063,
 'M390892': 85.86897746018056,
 'P752668': 81.40071322477532,
 'M496865': 58.83488367317604,
 'P729532': 85.0257021020281,
 'M247340': 86.98878142603887,
 'R018032': 88.15239190400898,
 'P692008': 85.89909443725743,
 'P493462': 76.58199689247554,
 'D640086': 71.58257869771452,
 'P635428': 75.59635036995968,
 'M687560': 82.10435532557136,
 'M534363': 63.57967651628712,
 'C029134': 78.94481063950663,
 'V399434': 67.87271470324511,
 'V317512': 64.89934769365559,
 'P800517': 75.78800386044888,
 'M204292': 86.3152563023197,
 'K137463': 62.03002115033163,
 'V447457': 48.75391007344435,
 'P046658': 53.35085593817806,
 'M292826': 77.8551236507252,
 'F084224': 83.1666632442829,
 'Q021950': 94.93418756031951,
 'P306057': 84.94356489181845,
 'D085877': 94.24971080857239,
 'D389084': 61.30995160749365,
 'V137103': 86.28513932524281,
 'Q029935': 79.66214227533762,
 'P472697': 75.15007152782056,
 'F078636': 57.26880086517861,
 'R225964': 61.09913276795554,
 '0628095': 83.3364134787162,
 'F374047': 73.41971429940382,
 'R141158': 94.08817429516006,
 'V485840': 66.3969828264783,
 'R105702': 63.50027721308446,
 'P218105': 92.82326125793138,
 '0253338': 71.14451357659637,
 'V481126': 81.74568950765587,
 'M759149': 77.46360294872585,
 'M209335': 70.03839914577301,
 'V726985': 85.56233187539785,
 'M299479': 89.77870866616016,
 'M289868': 89.89370076045367,
 'V752739': 61.18400788517218,
 'K156815': 73.55660964975324,
 'M307052': 75.20482966796033,
 'R194967': 89.78692238718112,
 'A293293': 89.9101282024956,
 'P607158': 54.78278130283305,
 'P483090': 72.78451987378249,
 'M381390': 86.98330561202489,
 'P136630': 72.74345126867766,
 'V505061': 69.69889867690644,
 'M390994': 91.65143705894029,
 'M221439': 87.16674538149312,
 'D878235': 79.47870250586939,
 'V416111': 73.76742848929136,
 'P330889': 80.28090925891702,
 'P440153': 65.81928444800373,
 'V498872': 40.67708440282826,
 'M482843': 88.36594865055409,
 'P474896': 75.39648315844953,
 'V316450': 88.08120632182728,
 'P967075': 79.6648801823446,
 'M550685': 70.78310985167388,
 'V889087': 80.33566739905679,
 'V459565': 85.54590443335591,
 'V182294': 56.05864596808969,
 'V604526': 61.189483699186155,
 'A762014': 80.08377995441384,
 'M225875': 82.48766230654975,
 'M747902': 77.72644202139674,
 'V355081': 77.31301806334147,
 'F248318': 75.3800557164076,
 'M233345': 72.65310033744704,
 'F225004': 72.81737475786635,
 'D101901': 67.3032300457915,
 'A510558': 74.29858244864712,
 'M605686': 78.85993552228999,
 'P470138': 80.2371027468052,
 'R245247': 82.38635974729118,
 '0176600': 74.46285686906644,
 'M228924': 74.34238896075895,
 'D514836': 50.85388474780454,
 'F455849': 83.17487696530387,
 'M293872': 79.17205692108668,
 'M370957': 80.19877204870737,
 'M456587': 95.29285337823501,
 'F447497': 83.57187348131721,
 'P357943': 63.36611976974202,
 'P540274': 61.46327439988501,
 'R153569': 86.3837039774944,
 'Q038630': 85.25842419762212,
 'M539857': 69.14036564748078,
 'M082106': 80.53005879655298,
 'M209934': 73.57851290580915,
 'V652865': 79.93319506902948,
 'A428227': 70.46003682484924,
 'M555724': 82.98869928882866,
 'D152352': 73.46078290450865,
 'V717511': 49.63551612969465,
 'V525152': 82.13173439564125,
 'F239757': 82.42195253838203,
 'V338507': 49.709439618883344,
 'V352642': 61.49339137696188,
 'V256188': 79.44310971477853,
 'M013545': 87.52541119940861,
 'M393736': 82.53968253968254,
 'P522443': 89.64181331581072,
 'M460677': 65.2059932784383,
 'D448208': 75.34172501830975,
 'P546210': 88.18798469509983,
 'D077380': 67.0376530661136,
 'M189135': 88.14417818298801,
 'M235517': 66.30389398824069,
 'A308431': 79.8592715798408,
 'R020467': 80.05640088434396,
 'F441842': 64.4448551304955,
 'V978528': 74.4738084970944,
 'P607873': 64.74054908725024,
 'F326965': 78.93659691848566,
 '0834770': 65.50990095621403,
 'R171884': 63.89727372909779,
 'V644410': 49.493144965331254,
 'V332037': 69.89329007440263,
 'V038483': 76.27808921469982,
 'M532444': 89.75132959609027,
 'D026238': 76.86126340718837,
 'V290815': 63.576938609280134,
 'R112982': 86.98330561202489,
 '0248235': 91.0271942613469,
 'V356038': 67.02396353107866,
 'F221873': 63.86715675202092,
 'D660614': 61.46327439988501,
 'V740633': 69.73449146799729,
 'D301811': 77.31849387735545,
 '0202642': 86.12634071883748,
 'P451241': 85.46924303716024,
 'P362281': 51.58490591867047,
 'F134288': 55.029192933462014,
 'M240267': 84.58489907390296,
 'M399926': 78.46293900627666,
 'M261391': 80.11937274550469,
 'A220299': 77.61966364812419,
 'R202976': 59.89171577787361,
 'R201861': 59.97385298808326,
 'V981722': 87.69242352683492,
 '0550697': 94.00329917794342,
 'M337765': 91.45704566144411,
 'A851819': 70.49015380192611,
 'V459163': 70.19172193816436,
 'M881345': 65.66596165561236,
 'M743291': 68.16293284598588,
 'V867909': 71.05963845937973,
 'M737353': 71.42651799831619,
 'M297578': 79.62107367023279,
 'P429250': 71.62090939581238,
 'V416225': 61.887649985968224,
 'V649202': 88.83139284174213,
 'E011288': 76.98720712950984,
 'P376149': 65.40038467593448,
 'R127471': 57.5343778448565,
 'P428489': 69.1595309965297,
 'D705987': 76.80102945303463,
 'V445922': 82.62455765689919,
 'V087959': 91.484424731514,
 'Z055008': 85.1461700103356,
 'V462484': 83.66496231955482,
 'V738893': 45.57246213132371,
 'Z043171': 95.2490468661232,
 'R227621': 64.36545582729282,
 'P677433': 49.22209217163939,
 'M384234': 73.58398871982313,
 'P756851': 75.10078920169477,
 'V241483': 73.47721034655058,
 'F227297': 84.43705209552557,
 'A230702': 88.146916089995,
 'F207344': 58.53918971642128,
 'V914069': 68.83645796970505,
 'A760661': 80.97086182467812,
 '0733221': 86.5260751418578,
 'D923782': 86.87378933174534,
 'M521391': 66.73922120235186,
 'P737520': 86.51512351382985,
 'V330529': 83.12559463917808,
 'P404280': 56.01483945597788,
 'F137335': 74.8543775710658,
 'A511029': 59.883502056852635,
 'M075001': 52.30771336851544,
 'D240038': 78.5478141234933,
 'V332398': 41.939259533049956,
 'M336940': 61.57826649417852,
 'D660901': 97.95409898902784,
 'P429100': 85.22830722054525,
 'V382827': 84.335749536267,
 'F184007': 62.681643017994894,
 'M867509': 80.58481693669275,
 'P210803': 62.43796929437291,
 'P459814': 67.49762144328768,
 'P604993': 86.78343840051473,
 'D329968': 79.09539552489099,
 'M079150': 70.55312566308685,
 'F225195': 78.57245528655619,
 'D448903': 79.37466203960382,
 'F123237': 82.3589806772213,
 'D879194': 71.08701752944961,
 'M489170': 83.2871311525904,
 'P758463': 92.32770008966645,
 'E036729': 76.7599608479298,
 'P748111': 67.14443143938615,
 'D153422': 89.58157936165698,
 'M413236': 65.13206978924961,
 'V095215': 47.193303079460904,
 'R140761': 88.5521263270293,
 'R199426': 75.40469687947049,
 '0161133': 80.90788996351739,
 'P270639': 85.4801946651882,
 'M607785': 81.32678973558663,
 'V269797': 74.093239423123,
 'F225631': 78.78053621908732,
 'V327029': 75.519688973764,
 'R001707': 65.038980951012,
 'R185663': 84.23444697700842,
 'M513754': 78.06320458325632,
 'V360500': 71.39092520722534,
 '0534527': 65.73714723779406,
 'D214435': 78.59709644961909,
 'M225792': 75.87287897766552,
 'D721363': 67.19097585850497,
 'F465986': 81.67724183248116,
 'R198416': 72.62845917438415,
 'P801734': 89.55967610560107,
 'M806667': 87.60754840961826,
 'D660307': 93.23120940197266,
 'A824702': 80.34114321307077,
 'V217044': 84.25635023306434,
 'A222139': 89.53229703553119,
 'R211419': 61.78634742670965,
 'A056579': 64.49961327063527,
 'M202024': 58.48169366927452,
 'M385429': 85.97301792644613,
 'M396566': 90.93684333011629,
 'V440819': 77.86059946473918,
 'V756562': 73.69076709309569,
 'V066051': 60.80070090419379,
 'V349162': 74.73390966275831,
 'F199973': 54.4378050199525,
 'V620420': 73.22258499490064,
 'F365600': 70.51205705798202,
 '0366151': 78.618999705675,
 'R125559': 84.70262907520346,
 'R183560': 66.78850352847765,

In [35]:
with open('/projects/ROCKET AF/1A/rivaroxaban dataextraction/data/age.pickle', 'wb') as f:
    pickle.dump(age,f)