In [2]:
import pandas as pd 
import pickle
import datetime
import re

# Atrial Fibrillation (AF) Patients on Rivaroxaban

In [3]:
with open('/projects/ROCKET AF/1A/rivaroxaban dataextraction/data/first_mention_rivaroxaban.pickle', 'rb') as f:
    rivaroxaban = pickle.load(f)

In [4]:
len(rivaroxaban)

2585

In [5]:
df = pd.DataFrame(list(rivaroxaban.items()), columns=['client_idcode', 'first_mention_rivaroxaban']) # This code converts a dictionary (rivaroxaban) into a Pandas DataFrame with two columns named 'client_idcode' and 'first_mention_rivaroxaban'
df.shape

(2585, 2)

In [6]:
df.head()

  client_idcode first_mention_rivaroxaban
0       0372858                2015-03-02
1       M282816                2018-10-25
2       V282449                2018-08-02
3       V459668                2015-06-25
4       R081687                2015-04-27

In [7]:
ids = set(df['client_idcode'])
len(ids)

2585

In [8]:
df['first_mention_rivaroxaban'].min()

datetime.date(2009, 8, 27)

# Echo Reports

In [7]:
echos = pd.read_csv('/projects/ROCKET AF/data/af_echos.csv')

In [8]:
echos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986772 entries, 0 to 1986771
Data columns (total 19 columns):
 #   Column               Dtype
---  ------               -----
 0   studyidk             int64
 1   measname             object
 2   measurevalue         float64
 3   unit                 object
 4   reasonforstudy       object
 5   Studytype            object
 6   Modality             object
 7   studystartdatetime   object
 8   medicalrecordnumber  object
 9   birthdate            object
 10  gender               object
 11  patientweight        float64
 12  patientheight        float64
 13  heartrateBPM         float64
 14  systolicpressure     float64
 15  diastolicpressure    float64
 16  findingcode          object
 17  findingcodetext      object
 18  Year                 int64
dtypes: float64(6), int64(2), object(11)
memory usage: 288.0+ MB

In [9]:
echos.shape

(1986772, 19)

In [10]:
echos.head()

,studyidk,measname,measurevalue,unit,reasonforstudy,Studytype,Modality,studystartdatetime,medicalrecordnumber,birthdate,gender,patientweight,patientheight,heartrateBPM,systolicpressure,diastolicpressure,findingcode,findingcodetext,Year
0,288225,AI max vel,401.192283,cm/sec,? ischemic aetiology heart dilation,AdultInpatients ...,US,2014-01-06 08:24:52,R043258,1930-10-06 00:00:00,M,NaN,NaN,NaN,NaN,NaN,"LV-0062, LV-0153, LV-0080, LV-0090, RV-0028, R...",The left ventricle is normal in size. Mild con...,2014
1,288225,IVSd,1.376862,cm,? ischemic aetiology heart dilation,AdultInpatients ...,US,2014-01-06 08:24:52,R043258,1930-10-06 00:00:00,M,NaN,NaN,NaN,NaN,NaN,"LV-0062, LV-0153, LV-0080, LV-0090, RV-0028, R...",The left ventricle is normal in size. Mild con...,2014
2,288225,LVIDd,4.877708,cm,? ischemic aetiology heart dilation,AdultInpatients ...,US,2014-01-06 08:24:52,R043258,1930-10-06 00:00:00,M,NaN,NaN,NaN,NaN,NaN,"LV-0062, LV-0153, LV-0080, LV-0090, RV-0028, R...",The left ventricle is normal in size. Mild con...,2014
3,288225,LVPWd,1.379681,cm,? ischemic aetiology heart dilation,AdultInpatients ...,US,2014-01-06 08:24:52,R043258,1930-10-06 00:00:00,M,NaN,NaN,NaN,NaN,NaN,"LV-0062, LV-0153, LV-0080, LV-0090, RV-0028, R...",The left ventricle is normal in size. Mild con...,2014
4,288225,EDV(MOD-sp2),196.354839,ml,? ischemic aetiology heart dilation,AdultInpatients ...,US,2014-01-06 08:24:52,R043258,1930-10-06 00:00:00,M,NaN,NaN,NaN,NaN,NaN,"LV-0062, LV-0153, LV-0080, LV-0090, RV-0028, R...",The left ventricle is normal in size. Mild con...,2014

In [11]:
echos['measname'].unique()

array(['AI max vel', 'IVSd', 'LVIDd', 'LVPWd', 'EDV(MOD-sp2)',
       'EDV(MOD-sp4)', 'ESV(MOD-sp2)', 'ESV(MOD-sp4)', 'RVOT diam',
       'Ao max PG', 'Ao V2 max', 'RV V1 mean', 'RV V1 mean PG',
       'RV V1 VTI', 'LVOT diam', 'TR max PG', 'TR max vel', 'AI max PG',
       'TAPSE', 'LA Area', 'RA Area', '[PVR]', 'AI P1/2t', 'EDV(cubed)',
       'EDV(MOD-bp)', 'EDV(Teich)', 'EF(MOD-bp)', 'EF(MOD-sp2)',
       'EF(MOD-sp4)', 'ESV(MOD-bp)', 'IVC collapse (%)',
       'IVC_Collapse (%)', 'IVS/LVPW', 'LV mass(C)d', 'LVLd %diff',
       'LVLs %diff', 'LVOT _Area', 'LVOT area', 'PVR', "PVR'", 'PVR.',
       'PVR_1', 'PVR>', 'RVOT area', 'SV(MOD-bp)', 'SV(RVOT)', 'Length',
       'Ao V2 VTI', 'Ao mean PG', 'Ao V2 mean', 'LV V1 mean PG',
       'LV V1 mean', 'LV V1 VTI', 'LV V1 max', 'LV V1 max PG', 'Max PG',
       'Max V', 'MR PISA radius', 'MR alias vel', 'MR mean vel', 'MR VTI',
       'MR mean PG', 'Ascending Aorta (2D)', 'Ao max PG (full)',
       'Ao mean PG (full)', 'MR flow rate', 'MR PISA', 'Ao root area',
       'Ao root diam', 'MV E max vel', 'EF(cubed)', 'ESV(cubed)',
       'ESV(Teich)', 'FS', 'MV E/A', 'SV(cubed)', 'SV(Teich)', 'LVIDs',
       'MV A max vel', 'MV dec time', 'MV mean PG', 'MV V2 mean',
       'MV V2 VTI', 'MV max PG', 'MV V2 max', 'SV(Ao)',
       'Aortic Sinus (2D)', 'AVA(I,D)', 'AVA(V,A)', "E/E'_Lat",
       'SV(LVOT)', 'Aortic Arch (2D)', 'LA dimension', 'LA/Ao',
       "E/E'_Sept", 'PA V2 max', 'PA max PG', 'Height (MMode)',
       'Slope (MMode)', 'Time (MMode)', 'MV A dur', 'Pulm A Revs Vel',
       'Pulm A Revs Dur', 'BMI', 'BSA', 'BSA(Haycock)', 'Height (metric)',
       'LVIDd (Indexed BSA: cm/m^2)', 'Weight (metric)', 'Pulm Sys Vel',
       'Pulm Dias Vel', 'Ao Sinus (Indexed BSA: cm/m^2)', 'LV mass(C)dI',
       'Pulm S/D', 'SI(MOD-bp)', 'SI(MOD-sp2)', 'SI(MOD-sp4)',
       'SI(sp2-el)', 'SI(sp4-el)', 'Heart Rate',
       'Sinotubular Junction (2D)', 'DSI', 'AV peak vel',
       'Left Atrial Vol (A/L) A2C', 'Left Atrial Vol (A/L) A4C',
       'Left Atrial Vol (A/L)_A4C', 'Left Atrial Vol_(A/L)_A4C',
       'PA max PG (full)', 'RV V1 max', 'RV V1 max PG', 'R-R time',
       'EF_3D-VOL', 'EDV_3D-VOL', 'ESV 3D-VOL', 'Stroke Vol',
       'Tmsv 12-DIF (%)', 'Tmsv 12-SD (%)', 'Tmsv 16-DIF (%)',
       'Tmsv 16-SD (%)', 'Tmsv 6-DIF (%)', 'Tmsv 6-SD (%)',
       'Tmsv 3-6 (%)', 'Tmsv 3-5 (%)', 'SI(Ao)', 'Mean PG', 'Mean V',
       'VTI', 'Aortic HR', 'CO(Ao)', 'CO(LVOT)', 'MR max PG',
       'MR max vel', 'AVA (Indexed BSA: cm^2/m^2)', 'SI(LVOT)',
       'MV P1/2t', 'MVA (P 1/2t) (Pk Ex)', 'MVA(P1/2t)', 'MV dec slope',
       'MV P1/2t max vel', 'AS max PG', 'LA Volume (A4C)', 'Slope (Dop)',
       'Time (Dop)', 'MVA [CE]', 'MM HR', 'MM R-R int',
       'LA Vol (indexed BSA)', 'LA Vol (Indexed_BSA)',
       'LA Vol_(Indexed BSA)', 'LA_Vol (indexed BSA)', 'SI(cubed)',
       'SI(Teich)', '% IVS thick', '% LVPW thick', 'CI(cubed)',
       'CI(Teich)', 'CO(cubed)', 'CO(Teich)', 'LV mass(C)s',
       'LV mass(C)sI', 'IVSs', 'LVPWs', 'LV dP/dt', 'CO(MOD-bp)',
       'CO(MOD-sp2)', 'CO(MOD-sp4)', 'CO(sp2-el)', 'CO(sp4-el)',
       'Main Pulmonary Artery', 'MR ERO', 'MR volume', 'PA mean PG',
       'PA V2 mean', 'PA V2 VTI', 'Area', 'Circ', 'LV  dP/dt',
       'LV [dP/dt]', 'Vena contracta', 'TV V2 mean', 'TV mean PG',
       'TV V2 VTI', 'TV V2 max', 'TV max PG', 'Tmsv 16-SD (ms)',
       'Tmsv 12-SD (ms)', 'Tmsv 6-SD (ms)', 'Tmsv 16-DIF (ms)',
       'Tmsv 12-DIF (ms)', 'Tmsv 6-DIF (ms)', 'LV Excursion - Avg',
       'LV Excursion - SD', 'LV Excursion - Min', 'LV Excursion - Max',
       'PV acc time', 'Long Axis', 'Vol (MOD)', 'Vol (SPE)',
       'LVOT area(traced)', 'MVA(traced)', 'Descending Aorta (2D)',
       'TV dec slope', 'MV A max vel (pk Ex)', 'EF(AP2 )(aCMQ)',
       'EF(AP4 )(aCMQ)', 'EF(Global)(aCMQ)', 'EDV (AP2 )(aCMQ)',
       'EDV (AP4)(aCMQ)', 'EDV (Avg)(aCMQ)', 'ESV (AP2 )(aCMQ)',
       'ESV (AP4)(aCMQ)', 'ESV(Avg) (aCMQ)', 'GLS(AP2)(aCMQ)',
       'GLS(AP3)(aCMQ)', 'GLS(AP4)(aCMQ)',
       'GLS Global(Avg. AP2,3,4)(aCMQ)', 'Ao VTI (Pk Ex)', 'PI max vel',
       'PI max PG', 'MPAP', 'asc Aorta Diam', 'MPA diam', 'MPA area',
       'Qp/Qs (V,Ao)', 'MV_Vp', 'mp 100', 'MPI  100', 'MPI [100]',
       'MPI [100msec]', 'MPI [110]', 'MPI [120]', 'MPI [140]',
       'MPI [160]', 'MPI [180]', 'MPI [200]', 'MPI [60]', 'MPI [80]',
       'MPI [90]', 'MPI 100 (x1000)', 'MPI 110 (x1000)',
       'MPI 120 (x1000)', 'MPI 140 (x1000)', 'MPI 160 (x1000)',
       'MPI 180 (x1000)', 'MPI 200 (x1000)', 'MPI 80 (x1000)',
       'MPI 90 (x1000)', 'MPI 90a', 'MPI 90b', 'MPI 90c', 'MPI 90x',
       'MPI 90y', 'MPI 90z', 'mpix', 'Ao peak vel (Pk Ex)',
       'Systolic Pressure', 'Mitral HR', 'Mitral R-R', 'PAEDP',
       'RAP diastole', 'VV Delay - LV60', 'VV Delay - LV30',
       'VV Delay - LV40', 'VV Delay - LV20', 'VV Delay - LV/RV 0',
       'VV Delay - RV20', 'VV Delay - RV40', 'VV Delay - RV60',
       'VV Delay - LV50', 'PA acc slope', 'Ao max grad (Pk Ex)',
       'Diastolic Pressure', 'MR(RF 1 diam)', 'MV area (1 diam)',
       'MV Flow area(1diam)', 'RF(MV,LVOT)(1diam)', 'SV(MV 1 diam)',
       'MV Diam', 'VV Delay - LV10', 'VV Delay lv10', 'Qp/Qs',
       'Qp/Qs (V,LVOT)', 'VV Delay - RV10', 'VV Delay - RV30',
       'VV Delay - RV50', 'MPI [190]', 'MPI 190 (x1000)', 'EPSS', 'VTI 1',
       'CI(MOD-bp)', 'CI(MOD-sp2)', 'CI(MOD-sp4)', 'CI(sp2-el)',
       'CI(sp4-el)', 'SI(MV 1 diam)', 'LVdias Vol 3D (Indexed BSA)',
       'RF(LVOT,PV)', 'RF(PV,LVOT)', 'SI(PV)', 'SV(PV)', 'AS max vel',
       'TV P1/2t max vel', 'TV P1/2t', 'LV RWT', 'VV Delay - RV80',
       'VV Delay - LV55', 'VSD max PG', 'VSD max vel', 'ASD diam',
       'MV V2 VTI (Pk Ex)', 'VV Delay - RV 70', 'PA mean PG (full)',
       'VV Delay - LV80', 'VV Delay - LV15', 'CI(Ao)', 'CI(LVOT)',
       'MV diam 1', 'MPI [130]', 'MPI [150]', 'MPI 130 (x1000)',
       'MPI 150 (x1000)', 'TR max vel (Pk Ex)', 'TR max PG (Pk Ex)',
       'MV dec time (Pk Ex)', 'MV mean PG (Pk Ex)', 'PVA(V,A)',
       'PVA(V,D)', 'Ao Arch Diam (Proximal trans.)',
       'Ao mean grad (Pk Ex)', 'LV V1 mean PG (Pk Ex)',
       'LV V1 max  (Pk Ex)', 'LV V1 VTI  (Pk Ex)', 'AVA (pk Ex)',
       'DSI  (Pk Ex)', 'DSI (Pk Ex)', 'Ant Lat Post Med Diam',
       'Ant Post Diam', 'Annul 2D Area', 'Tenting Vol', 'Nonplanar Angle',
       'Tenting Height', 'Ao Plane - Mitr Plane Angle', 'Annul Height',
       'Prolapse Vol', 'Ant Leaflet Angle', 'Post Leaflet Angle',
       'Prolapse Height', 'MV diam 2', 'MR RF', 'MV flow area',
       'MVA(2 diam)', 'SV(MV)', '10_EDV(3DQA)', '10_ESV(3DQA)',
       '10_EF(3DQA)', '10_Long Strain(AP3)(aCMQ)', '10_EDV(AP4)(a2DQ)',
       '10_ESV(AP4)(a2DQ)', '10_EF(AP4)(a2DQ)', '10_EDV(AP2)(a2DQ)',
       '10_ESV(AP2)(a2DQ)', '10_EF(AP2)(a2DQ)', '10_EF(Bi-Plane)(a2DQ)',
       '10_Long Strain(AP2)(aCMQ)', '10_Global Long Strain(aCMQ)',
       '10_Long Strain(AP4)(aCMQ)', 'MPI [70]', 'MPI 70',
       'MPI 70 (x1000)', 'MPI 70a', 'MPI 70b', 'MPI 70c', 'MPI 70d',
       'MPI 70e', 'MPI 70f', 'MPI 70g', 'TV E max vel', 'TV A max vel',
       'TV E/A', '10_MV Ann2D Circ', '10_MV Ann3D Min Area',
       '10_MV Ann Ellipsicity', '10_MV Leaf 3D Area',
       '10_MV 2D Ann Ht/AP Diam', 'LVIDd Indexed',
       'SV (LVOT) Indexed BSA: ml/m^2', 'AVA (lvot area)', 'RF(MV,LVOT)',
       '10_EDV(3DQ)', '10_ESV(3DQ)', '10_EF(3DQ)', "E/E' Average",
       'LVOT d (2D)', 'MPI [170]', 'MPI 170 (x1000)', 'VV Delay - LV45',
       'VV Delay - RV45', 'VV Delay - RV65',
       'LA Vol (2D biplane) index BSA', 'PCWP',
       'LVsys vol 3D (Indexed BSA)', 'RA Vol (2D)',
       'SV (3DQA) indexed BSA', 'LV mass(AL)d', 'LV mass(AL)dI',
       'TV annulus(A4C)/BSA cm/m^2', 'TV annulus (A4C)', 'PVA(I,A)',
       'PVA(I,D)', 'RVD2 (A4C)', 'Right Atrial Vol (A4C) Length',
       'RVD1 (A4C)', 'RVOT1 (PSAX)', 'RVOT (PLAX)', 'RVOT2 (PSAX)',
       'RVD3 (A4C)', 'RVSP(TR)', 'RAP systole', 'LV SDI (4D LVA)',
       'LV EDV (4D LVA)', 'LV EDVi (4D LVA)', 'LV EF (4D LVA)',
       'LV mass (4D LVA)', 'LV ESV (4D LVA)', 'LV ESVi (4D LVA)',
       'LV SV (4D LVA)', 'VV Delay - LV 70', 'RF(Ao,PV)', 'RF(PV,Ao)',
       'LV pk 1', 'desc Ao Diam', 'VV Delay - LV35',
       '10_Global Circ Strain(aCMQ)', 'LA Systolic Volume  (HM)',
       'LVEF (HM)', 'LV Stroke Volume (HM)', 'LV EDV  (HM)',
       'LV ESV  (HM)', 'LV vmax Rest', 'RF(MV,Ao)(1 diam)',
       'Ao Isth Diam', 'LV VTI Rest', 'MVA (PISA)', 'Pulm. HR',
       'BP peak sys (VSD)', 'RVSP(VSD)', 'LAV(MOD-sp4)', 'LVs major',
       'HR (HM)_phl', 'LV Length ED (HM)', 'LV Length ES (HM)',
       'AV VR_phl', "RV S'", 'TAPSE_phl', 'AV P1/2t-pr_phl',
       'LV Mass - End Dias', 'LA Systolic Volume (HM)', 'MV P1/2t-pr_phl',
       'LA Volume (A2C)', 'LA Vol (biplane) Index', 'LA Volume (bp mean)',
       'AVA(VTI)/BSA_phl', 'EF (HM)', 'SV (HM)_phl', 'EDV (HM)',
       'ESV (HM)', 'RA ESA_phl', 'AV Vmax-pr_phl', 'AV VTI-pr_phl',
       'RA A4Cs_phl', 'Ao Sinus Diam_phl', 'IVC collapse', 'MAPSE_phl',
       'IVC Diam Exp_phl', 'IVC Diam Ins_phl', 'RV Base_phl',
       'RV Length_phl', 'RV Mid_phl', 'IVC Diam Exp(MM)_phl',
       'IVC Diam Ins(MM)_phl', 'MV annu diam', 'MV annu area',
       'LVET (DOP)_phl', 'LAV(MOD-bp)', 'LAV(MOD-bp) Indexed',
       'LAV(MOD-sp2)', 'Ao Sinus Major_phl', 'RV ESA',
       'Ascending Aorta index (mm/m)', 'Ao STJ Diam_phl',
       'Ao Ann Diam_phl', 'RV Ejection Fraction(3D)',
       'RVLd base (RVD3 4D RVF)', 'RVfree strain 3D Tomtec',
       'RVseptum strain 3D Tomtec', 'RVFAC 2D Tomtec',
       'RV TAPSE 2D (4D RVF)', 'RVDd mid (RVD2 4D RVF)',
       'RVDd base (RVD1 4D RVF)', 'RV EDV(3D)', 'RV EDVi (4D RVF)',
       'RV ESV(3D)', 'RV ESVi (4D RVF)', 'RV Stroke Volume (3D)',
       'Prox ascAo Diam_phl', 'PI Vmax_phl', 'Stress LVOT VTI (low dose)',
       'Stress SV (low dose)', 'Stress SV Index (low dose)',
       'LA Area_phl', 'LV endo GLS (2D CPA)', 'LV SD-Ttp-LS (2D CPA)',
       'LV EDV (2D CPA)', 'LV EF (2D CPA)', 'LV ESV (2D CPA)',
       'PR P1/2t_phl', 'LA EF (2D CPA)', 'LA Endo GLS (2D CPA)',
       'LA EDV (2D CPA)', 'LA ESV (2D CPA)', 'RA A4C-A/L_phl', 'RV EDA',
       'RV FAC', 'AR Diam(MM)_phl', 'RVDd mid (RVD1 2D CPA)',
       'Stress Systolic ET (low dose)', 'Stress Systolic ET (rest)',
       'MV Ann Major_phl', 'Stress Systolic ET (peak)',
       'Ao Sinus Minor_phl', 'Stress AV PG max (peak)',
       'Stress AV PG max (low d)', 'Stress AV PG max (rest)',
       'TV dec time', 'IVC Diam_phl', 'RA Width_phl', 'TR VTI',
       'LA Volume (HM)_phl', 'MR VC_phl', 'LA A2C-A/L_phl',
       'RA A2C-A/L_phl', 'MV VTI-pr_phl', 'RA Length_phl',
       'LA Length_phl', 'MV Vmax-pr_phl', 'Aortic Sinus index (mm/m)',
       'MV max PG (Pk Ex)', 'TR VC_phl', 'MR Jet Area_phl', 'PR VC_phl',
       'TV Annulus_phl', 'Eccentricity index - Diastole', 'Tricusp. R-R',
       'Tricusp. HR', 'VV Delay - 0', 'VV Delay - RV15', 'LV VTI 5mcg',
       'LV VTI 10mcg', 'VV Delay - LV5', 'VV Delay - LV65',
       'VV Delay - RV55', 'VSD diam major', 'VV Delay = 0',
       'VV Delay - RV35', 'EDV_BP-TEMPL', 'ESV_BP-TEMPL', 'EF_BP-TEMPL',
       'LVET', 'Vcf mean', 'LV_dP/dt', 'LVOT Accel Slope',
       'Time (Physio)', 'LV Mass - End Sys', 'MV dec slope (Pk Ex)',
       'MV V2 max (Pk Ex)', 'LV pk 2', 'LV pk 3',
       'Exp. Ant Leaflets 3D Area', 'Exp. Post Leaflets 3D Area',
       'Exp. Ant Leaflet', 'Exp. Post Leaflet', 'Coapt 2D', 'CO(PV)',
       'Qp/Qs (I,LVOT)', 'RF(MV,Ao)', 'SI(sp-el)', 'SV(sp-el)',
       'AI Accel Slope'], dtype=object)

In [12]:
echos = echos[echos['medicalrecordnumber'].isin(ids)]
echos.shape

(202064, 19)

In [13]:
echos['studystartdatetime'].isna().sum()

0

In [14]:
echos = echos[['medicalrecordnumber', 'studystartdatetime', 'findingcodetext']]

In [15]:
echos.rename(columns =  {'medicalrecordnumber': 'client_idcode'}, inplace = True)

In [16]:
echos.head()

,client_idcode,studystartdatetime,findingcodetext
93,P051583,2014-01-02 17:01:12,The left ventricle is severely dilated. There ...
94,P051583,2014-01-02 17:01:12,The left ventricle is severely dilated. There ...
95,P051583,2014-01-02 17:01:12,The left ventricle is severely dilated. There ...
96,P051583,2014-01-02 17:01:12,The left ventricle is severely dilated. There ...
97,P051583,2014-01-02 17:01:12,The left ventricle is severely dilated. There ...

# Identifying non-valvular AF patients

In [17]:
df = pd.merge(echos, df, on='client_idcode', how='right')

In [18]:
df.head()

,client_idcode,studystartdatetime,findingcodetext,first_mention_rivaroxaban
0,0372858,NaN,NaN,2015-03-02
1,M282816,2018-11-05 07:57:20,The left ventricle is normal in size. A false ...,2018-10-25
2,M282816,2018-11-05 07:57:20,The left ventricle is normal in size. A false ...,2018-10-25
3,M282816,2018-11-05 07:57:20,The left ventricle is normal in size. A false ...,2018-10-25
4,M282816,2018-11-05 07:57:20,The left ventricle is normal in size. A false ...,2018-10-25

In [19]:
df['studystartdatetime'].isna().sum()

1076

In [20]:
df = df[df['studystartdatetime'].notna()]
df['client_idcode'].nunique()

1509

In [21]:
1509+1076

2585

In [22]:
df['studystartdatetime'] = pd.to_datetime(df['studystartdatetime'], utc=True).dt.date

In [23]:
df.head()

,client_idcode,studystartdatetime,findingcodetext,first_mention_rivaroxaban
1,M282816,2018-11-05,The left ventricle is normal in size. A false ...,2018-10-25
2,M282816,2018-11-05,The left ventricle is normal in size. A false ...,2018-10-25
3,M282816,2018-11-05,The left ventricle is normal in size. A false ...,2018-10-25
4,M282816,2018-11-05,The left ventricle is normal in size. A false ...,2018-10-25
5,M282816,2018-11-05,The left ventricle is normal in size. A false ...,2018-10-25

In [24]:
%%time 
df['difference'] = pd.to_datetime(df['first_mention_rivaroxaban']) - pd.to_datetime(df['studystartdatetime'])
min_time = datetime.timedelta(days=1) 
max_time = datetime.timedelta(days=183)
t1 = df['difference'] >= min_time 
t2 = df['difference'] <= max_time
in_window = t1 & t2 
df['in_window'] = in_window

CPU times: user 81.7 ms, sys: 4.19 ms, total: 85.9 ms
Wall time: 84.9 ms

In [25]:
df = df.loc[df['in_window'] == True]
df['client_idcode'].nunique()

669

In [26]:
df.reset_index(drop=True, inplace=True)

In [27]:
df.head()

,client_idcode,studystartdatetime,findingcodetext,first_mention_rivaroxaban,difference,in_window
0,V459668,2015-06-17,The left ventricle is normal in size. There is...,2015-06-25,8 days,True
1,V459668,2015-06-17,The left ventricle is normal in size. There is...,2015-06-25,8 days,True
2,V459668,2015-06-17,The left ventricle is normal in size. There is...,2015-06-25,8 days,True
3,V459668,2015-06-17,The left ventricle is normal in size. There is...,2015-06-25,8 days,True
4,V459668,2015-06-17,The left ventricle is normal in size. There is...,2015-06-25,8 days,True

## Cleaning text data

In [28]:
df.loc[0,'findingcodetext']

'The left ventricle is normal in size. There is normal left ventricular wall thickness. The transmitral spectral Doppler flow pattern is suggestive of impaired LV relaxation. Flattened septum is consistent with RV pressure/volume overload. The right ventricle is mildly dilated. A moderator band is seen in the right ventricle. The right ventricular systolic function is borderline reduced. The left atrium is mildly dilated. The right atrium is mildly dilated. There is mild mitral leaflet thickening. The tricuspid valve leaflets are thin and pliable. There is mild tricuspid regurgitation. Right ventricular systolic pressure is elevated at 54 mmHg + RAP 10-15 mmHg. The aortic valve is trileaflet. The aortic valve opens well. The aortic valve is mildly thickened. Mild aortic regurgitation. The pulmonic valve is not well seen, but is grossly normal. The aortic root is normal size. Normal size ascending aorta. Normal size aortic arch. There is no pericardial effusion. There is mild mitral regurgitation. A two-dimensional transthoracic echocardiogram was performed. A two-dimensional transthoracic echocardiogram was performed'

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40750 entries, 0 to 40749
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   client_idcode              40750 non-null  object
 1   studystartdatetime         40750 non-null  object
 2   findingcodetext            39889 non-null  object
 3   first_mention_rivaroxaban  40750 non-null  object
 4   difference                 40750 non-null  timedelta64[ns]
 5   in_window                  40750 non-null  bool
dtypes: bool(1), object(4), timedelta64[ns](1)
memory usage: 1.6+ MB

In [30]:
def clean_text(text):
    
    if isinstance(text,str):
        
        # Convert to lowercase
        text = text.lower()
   
        # Remove punctuation
        text = re.sub(r'[^\w\s]', '', text)
   
        # Remove extra spaces
        text = ' '.join(text.split())
   
    return text

In [31]:
df['findingcodetext'] =  df['findingcodetext'].apply(clean_text)

In [32]:
df.loc[0,'findingcodetext']

'the left ventricle is normal in size there is normal left ventricular wall thickness the transmitral spectral doppler flow pattern is suggestive of impaired lv relaxation flattened septum is consistent with rv pressurevolume overload the right ventricle is mildly dilated a moderator band is seen in the right ventricle the right ventricular systolic function is borderline reduced the left atrium is mildly dilated the right atrium is mildly dilated there is mild mitral leaflet thickening the tricuspid valve leaflets are thin and pliable there is mild tricuspid regurgitation right ventricular systolic pressure is elevated at 54 mmhg rap 1015 mmhg the aortic valve is trileaflet the aortic valve opens well the aortic valve is mildly thickened mild aortic regurgitation the pulmonic valve is not well seen but is grossly normal the aortic root is normal size normal size ascending aorta normal size aortic arch there is no pericardial effusion there is mild mitral regurgitation a twodimensional transthoracic echocardiogram was performed a twodimensional transthoracic echocardiogram was performed'

### Severe mitral stenosis

In [43]:
df1 = df[df['findingcodetext'].str.contains('severe mitral stenosis', regex=True, na=False)]
df1.shape

(13, 6)

In [34]:
df1['client_idcode'].nunique()

1

In [35]:
df1.head()

,client_idcode,studystartdatetime,findingcodetext,first_mention_rivaroxaban,difference,in_window
920,V443850,2017-01-23,the left ventricle is normal in size left vent...,2017-02-03,11 days,True
921,V443850,2017-01-23,the left ventricle is normal in size left vent...,2017-02-03,11 days,True
922,V443850,2017-01-23,the left ventricle is normal in size left vent...,2017-02-03,11 days,True
923,V443850,2017-01-23,the left ventricle is normal in size left vent...,2017-02-03,11 days,True
924,V443850,2017-01-23,the left ventricle is normal in size left vent...,2017-02-03,11 days,True

In [36]:
df1.loc[920,'findingcodetext']

'the left ventricle is normal in size left ventricular systolic function is normal the right ventricle is normal in size and function no thrombus is detected in the left atrial appendage the left atrium is severely dilated the right atrium is dilated no obvious atrial septum flowshunt seen using colour doppler there is moderate mitral leaflet thickening there is moderate to severe mitral stenosis the tricuspid valve leaflets are thin and pliable there is moderate tricuspid regurgitation right ventricular systolic pressure is elevated at 65mmhgrap the aortic valve opens well the aortic valve is tricuspid mild aortic regurgitation the pulmonic valve is not well seen but is grossly normal trace pulmonic valvular regurgitation the aortic root is normal size normal size ascending aorta a 2d transesophageal echocardiogram with doppler and color flow doppler was performed'

In [37]:
ids_1 = set(df1['client_idcode'])
len(ids_1)

1

### Severe mitral regurgitation

In [39]:
df2 = df[df['findingcodetext'].str.contains('severe mitral regurgitation', regex=True, na=False)]
df2.shape

(808, 6)

In [40]:
df2['client_idcode'].nunique()

16

In [40]:
df2.head()

,client_idcode,studystartdatetime,findingcodetext,first_mention_rivaroxaban,difference,in_window
2888,0640313,2018-09-06,the left ventricle is moderately dilated mild ...,2019-01-10,126 days,True
2889,0640313,2018-09-06,the left ventricle is moderately dilated mild ...,2019-01-10,126 days,True
2890,0640313,2018-09-06,the left ventricle is moderately dilated mild ...,2019-01-10,126 days,True
2891,0640313,2018-09-06,the left ventricle is moderately dilated mild ...,2019-01-10,126 days,True
2892,0640313,2018-09-06,the left ventricle is moderately dilated mild ...,2019-01-10,126 days,True

In [41]:
df2.loc[2888,'findingcodetext']

'the left ventricle is moderately dilated mild concentric left ventricular hypertrophy ejection fraction lt30 severely impaired unable to assess lv filling pressures due to significant mitral regurgitation the right ventricle is moderately dilated there is a pacemaker lead in the right ventricle the right ventricular systolic function is moderately reduced the left atrium is severely dilated the right atrium is severely dilated there is mild mitral leaflet thickening the posterior mitral leaflet is restricted due to ischaemia the tricuspid valve leaflets are thin and pliable there is moderate to severe tricuspid regurgitation the aortic valve is normal in structure and function the pulmonic valve is normal in structure and function mild pulmonic valvular regurgitation the aortic root is normal size there is no pericardial effusion there is severe mitral regurgitation the mitral regurgitant jet is posteriorly directed which is consistent with anterior leaflet pathology a twodimensional transthoracic echocardiogram with mmode and doppler was performed a twodimensional transthoracic echocardiogram with mmode and doppler was performed there is no evidence of a mass or vegetation this does not rule out endocarditis there is no evidence of a mass or vegetation this does not rule out endocarditis this echocardiogram was performed bedside portable the heart rate was 69bpm the heart rhythm during the scan showed paced rhythm ppm'

In [42]:
ids_2 = set(df2['client_idcode'])
len(ids_2)

16

### Moderate mitral stenosis

In [59]:
df3 = df[df['findingcodetext'].str.contains('there is moderate mitral stenosis', regex=True, na=False)]
df3.shape

(75, 6)

In [60]:
df3['client_idcode'].nunique()

1

In [61]:
df3.head()

,client_idcode,studystartdatetime,findingcodetext,first_mention_rivaroxaban,difference,in_window
35747,V309576,2014-10-24,the left ventricle is normal in size there is ...,2014-12-12,49 days,True
35748,V309576,2014-10-24,the left ventricle is normal in size there is ...,2014-12-12,49 days,True
35749,V309576,2014-10-24,the left ventricle is normal in size there is ...,2014-12-12,49 days,True
35750,V309576,2014-10-24,the left ventricle is normal in size there is ...,2014-12-12,49 days,True
35751,V309576,2014-10-24,the left ventricle is normal in size there is ...,2014-12-12,49 days,True

In [62]:
df3.loc[35747,'findingcodetext']

'the left ventricle is normal in size there is normal left ventricular wall thickness left ventricular systolic function is normal ejection fraction gt55 the right ventricle is mildly dilated the right ventricular systolic function is normal the left atrium is mildly dilated the right atrium is mildly dilated doming of the mitral leaflets is noted there is moderate mitral stenosis the anterior leaflet is pliable and mobile while the posterior leaflet is calcified and immobile there is moderate tricuspid regurgitation right ventricular systolic pressure is estimated at 46 mmhg rap 510 mmhg the aortic valve is moderately calcified mild to moderate aortic regurgitation the pulmonic valve is not well seen but is grossly normal trace pulmonic valvular regurgitation a small circumferential pericardial effusion is seen a threedimensional transthoracic echocardiogram was performed'

In [63]:
ids_3 = set(df3['client_idcode'])
len(ids_3)

1

### Moderate mitral regurgiation

In [64]:
df4 = df[df['findingcodetext'].str.contains('there is moderate mitral regurgitation', regex=True, na=False)]
df4.shape

(1583, 6)

In [65]:
df4['client_idcode'].nunique()

28

In [66]:
df4.head()

,client_idcode,studystartdatetime,findingcodetext,first_mention_rivaroxaban,difference,in_window
1020,F288701,2016-12-20,the left ventricle is normal in size there is ...,2016-12-22,2 days,True
1021,F288701,2016-12-20,the left ventricle is normal in size there is ...,2016-12-22,2 days,True
1022,F288701,2016-12-20,the left ventricle is normal in size there is ...,2016-12-22,2 days,True
1023,F288701,2016-12-20,the left ventricle is normal in size there is ...,2016-12-22,2 days,True
1024,F288701,2016-12-20,the left ventricle is normal in size there is ...,2016-12-22,2 days,True

In [67]:
df4.loc[1020,'findingcodetext']

'the left ventricle is normal in size there is normal left ventricular wall thickness ejection fraction 4553 female mildly impaired the right ventricle is normal in size and function the left atrium is severely dilated right atrial size is normal there is mild mitral leaflet thickening the tricuspid valve leaflets are thickened andor calcified but open well there is mild to moderate tricuspid regurgitation right ventricular systolic pressure is estimated at 23mmhgrap the aortic valve opens well the aortic valve is tricuspid mild to moderate aortic regurgitation there is no pulmonic valvular stenosis trace pulmonic valvular regurgitation there is moderate mitral regurgitation'

In [68]:
ids_4 = set(df4['client_idcode'])
len(ids_4)

28

-----------------

In [69]:
ids = ids_1 | ids_2 | ids_3 | ids_4 
len(ids)

44

In [70]:
with open ('/projects/ROCKET AF/1A/rivaroxaban dataextraction/data/valvular_af.pickle', 'wb') as f:
    pickle.dump(ids,f)